.list-left {
	width: 20%;
	position: fixed;
	left: 0;
	top: 48px;
	bottom: 0;
	text-align: center;
	border: 1px solid gray;
}

.list-left-ul {
	list-style: none;
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
	margin: 0;
}

.list-left-li {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 10px;
	/*border: 1px solid gray;*/
	margin: 2px 0;
	background: rgba(0,0,0,0.2);
}

.list-right {
	width: 80%;
	height: 100%;
	position: fixed;
	right: 0;
	top: 48px;
	bottom: 0;
	border: 1px solid gray;
	border-left: none;
}
