.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	border-bottom: 2px solid transparent;
	padding-bottom: 15px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 2px solid #007aff;
}

.mui-content-padded {
	margin-bottom: 0;
}

.mui-search .mui-placeholder span {
	font-size: 13px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	width: 48%;
	height: 100px;
	margin: 1%;
	box-sizing: border-box;
	background: rgb(244,244,244);
}

.mui-show-div {
	height: 80px;
	line-height: 80px;
}

.mui-header {
	width: 100%;
	height: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgb(238,245,252);
}

.mui-header-text {
	text-align: center;
	font-size: 20px;
	color: #8BA0B6;
	line-height: 100px;
}

.mui-header-button {
	width: 130px;
	height: 30px;
	background: #D8E5F1;
	color: #8BA0B6;
	border: none;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: -30px;
}
